<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
            </head>
    <body>
        <p>
            URL's ending with '/' will return this index page.
            It will fetch a list of packets posted recently
        </p>
        <script>

         async function load(){
             // a lot of potential improvements here. Use a json request - add an option to filter/select by publickey 
             let loc= window.location;
             let url = ""+loc;
             url += loc.search == "" ? "?" : "&";
             url += "tree&mode=log-desc";
             console.log(url);
             fetch(url)
                 .then(async (r) => {
                     let t = await r.text();
                     document.body.innerHTML += t;
                 });
         }
         load()


        </script>

    </body>
</html>
