<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf8" http-equiv="Content-Type" />

    <link rel="stylesheet" href="./linkspace-black-colorcodes.css">
    <link rel="stylesheet" href="./linkspace-basic-black.css">
    <style>
        html {
            color: #f8f8f2;
            box-sizing: border-box;
            font-size: calc(15px + 0.390625vw);
            background: #282a36;
        }

     #errors{
         position:absolute
     }

     .pkt-list-view{
         display: flex;
         flex-flow: column;
         width:min-content;
         overflow-y:scroll;
     }
        body {
            display: flex;
            flex-flow: wrap;
            justify-content:space-around;
            justify-content: center;
            align-items: center;
            gap:2em;
        }

        #form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(8, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px; 
        }

        #form>label {
            display: inline-block;
            width: 14em;
        }

     /* Tooltip container */
        #form>label {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        #form>label span {
            visibility: hidden;
            width: 20vw;
            background-color: white;
            color: black;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        #form>label:hover span {
            visibility: visible;
        }
    </style>
</head>

<body>
    <h3 style="color:#ff5555;background:#f1fa8c;" id="warningHeader">
        before entering a password check that the host starts with the word 'quarantine' and that you trust this server
        <input id="hideWarningToggle" type="checkbox" /></div>
    </h3>
    <div id="form">
            <label >Identity
                <span>
                    An encrypted public,private key pair.
                    If you're using a long password you can safely share this to easly access your account elsewhere.
                </span>
            </label>
            <div>
                <input id="encryptedKey" name="username" type="text">
                <input type="button" id="generateKey" value="new" />
            </div>
            <label >Public Key
                <span>
                    Your public key - you can identify yourself and others with this.<br>
                    You can name them with <a href="https://www.linkspace.dev/lns.html">LNS</a>.
                </span>
            </label>
            <input id="pubkeyEl" type="text" disabled/>
            <label>
                Password
                <span>
                    The password never leaves your computer - the identity is decrypted by you.
                    If you need to enter your password - check that you trust the server and its url starts with quarantine.
                </span>
            </label>
            <input id="password" name="password" type="password" />
        <label>Remember Password
                <span>
                    If checked the password is saved in your localStorage, else it is removed after you leave this page.
                </span>

            </label> <input id="rememberPass" type="checkbox" checked />
        <label>
            Back
                <span>
                    After you vouch for the point you are redirected here.
                </span>
        </label>
        <input id="backUrl" type="text"/>
        <label>Open full URL
                <span>
                    Open the url with ?hash=... or not.
                    Without it someone else saving at the <b>exact</b> same time might redirect you to their page.
                </span>
            </label> <input id="useFullUrl" type="checkbox" />
        <input id="submitEl" type="submit" value="Vouch" style="grid-column: 1 / 3;" disabled />
    </div>
    <div class="pkt-list-view">
        <div id="packetsEl" >
            
        </div>
        <input type="checkbox" />
    </div>

</body>
<script type="module">
    import init, {
        lk_keygen,
        lk_key_encrypt,
        lk_key_decrypt,
        lk_key_pubkey,

        lk_datapoint,
        lk_linkpoint,
        lk_keypoint,

        lk_read,
        lk_write,

        lk_encode,

        b64,
        Link,
        get_consts,
        build_info
    } from './linkspace/linkspace.js';

    function stripSuffix(st, suffix) {
        if (!st.endsWith(suffix)) throw `${st} does not end with ${suffix}`;
        return st.substr(0, st.length - suffix.length);
    }

    function elIdObj(el, intoObj = {}) {
        let id = el.attributes.id;
        intoObj[id && id.value] = el;
        [...el.children].forEach((e) => elIdObj(e, intoObj));
        return intoObj;
    }

    const range = document.createRange();

    function newEl(el) {
        return range.createContextualFragment(el).firstElementChild;
    }
    const loc = window.location;
    const linkp_hash = loc.pathname.substring(1);
    const params = new URLSearchParams(loc.search);
    const back = params.get('back');
    const quarantinePktsUrl = loc.origin + loc.pathname + "?pkts";
    const vouchUrl = `${loc.origin}/vouch/${linkp_hash}`;

    let {
        warningHeader,
        hideWarningToggle,
        pubkeyEl,
        encryptedKey,
        password,
        generateKey,
        submitEl,
        rememberPass,
        useFullUrl,
        backUrl,
        packetsEl
    } = elIdObj(document.body);



    function hideWarning() {
        warningHeader.style.display = hideWarningToggle.checked ? "none" : "block";
        localStorage.setItem("hideWarning", hideWarningToggle.checked);
    }
    hideWarningToggle.addEventListener("change", hideWarning);
    hideWarningToggle.checked = localStorage.getItem("hideWarning") || false;
    hideWarning()
    encryptedKey.value = encryptedKey.value || localStorage.getItem("encrypted_key") || "";
    password.value = password.value || localStorage.getItem("password") || "";
    backUrl.value= back

 let blob,buf,bytes;

    async function load_pkts(response) {
        if (!response.ok) {
            let body = await response.text();
            return alert(`Error - ${response.status} - ${response.statusText} - ${body}`);
        }
        blob = await response.blob();
        buf = await blob.arrayBuffer();
        bytes = new Uint8Array(buf);
        window.linkspace = await init();
        console.log(build_info());
        const {
            PUBLIC
        } = get_consts();

        let pkts = [];
        let b = bytes.subarray();
        while (b.length != 0) {
            let [p, rest] = lk_read(b);
            b= rest;
            pkts.push(p);
        }
        if (b64(pkts[0].hash) != linkp_hash) {
            logerr("(NoSec) Error - hash in url does not match the first pkt ?");
        }
        return pkts;
    }

    let errors = newEl(`<div id="errors"></div>`);
    document.body.prepend(errors);

    function logerr(e) {
        console.error(e);
        console.info(blob,buf,bytes);// avoid dealloc
        errors.prepend(range.createContextualFragment(`<div>${e}</div>`).firstElementChild);
    }

 // stuff we need the linkspace wasm for
 async function wasmElements(){
     await init();
     function set_pubkey(){
         try{
             pubkeyEl.value= b64(lk_key_pubkey(encryptedKey.value));
             submitEl.disabled = false;
             generateKey.style = "display:none";
         } catch(e) {
             submitEl.disabled = true;
             generateKey.style = "display:inline-block";
             pubkeyEl.value = "<Input or generate a valid key>"
             console.warn(e)
         }
     }
     encryptedKey.addEventListener("input", set_pubkey);
     set_pubkey();
     
     generateKey.addEventListener("click", async () => {
         if (encryptedKey.value != "" && !confirm("destroy key?")) {
             return false;
         }
         if (password.value == "") {
             password.value = prompt("password");
         }
         let bytes = new TextEncoder().encode(password.value);
         let tmp = generateKey.value;
         generateKey.value = "⏳";
         await new Promise(resolve => setTimeout(resolve, 100));
         encryptedKey.value = lk_key_encrypt(lk_keygen(), bytes);
         generateKey.value = tmp;
         set_pubkey()
         return false;
     });
 }
 wasmElements().catch((e) => console.error(e, e.toString && e.toString(), e.toJSON && e.toJSON()));
    function display_pkts(pkts) {
        let linkpkt = pkts[0];

        submitEl.addEventListener("click", () => {
            try {
                let key = lk_key_decrypt(encryptedKey.value, new TextEncoder().encode(password.value));
                localStorage.setItem("encrypted_key", encryptedKey.value);
                if (rememberPass.checked) {
                    localStorage.setItem("password", password.value)
                };
                let keyp = lk_keypoint(key, "", {
                    ...linkpkt.obj, // Get an object with the common fields
                    create: undefined // Don't copy the create stamp field
                });
                let new_hash = b64(keyp.hash);

                let html = keyp.toHTML();
                let pktEl  = range.createContextualFragment(html).firstElementChild;
                packetsEl.prepend(pktEl);

                let formEl = document.querySelector("#form");
                let countdown = range.createContextualFragment(`<input type="range" min=1 max=1000 value=100>`).firstElementChild;
                formEl.appendChild(countdown);

                var id = 0;
                id = setInterval(() => {
                    countdown.value = Number(countdown.value) * 1.01 + "";
                    if (countdown.value == countdown.max) {
                        clearInterval(id);
                        send();
                    }
                }, 10);


                async function send() {
                    const formData = new FormData();
                    fetch(vouchUrl, {
                        body: lk_write(keyp),
                        method: "POST"
                    }).then(async response => {
                        if (!response.ok) {
                            let body = await response.text();
                            throw Error(`Server returned ${response.status}: ${response.statusText} - ${body}`);
                        }
                        if (backUrl.value!= "") {
                            window.location = backUrl.value;
                        } else {
                            // In theory we could use the location from our packet - but its a TODO to specify the exact path encoding rules
                            let loc = response.headers.get("location");
                            if (!useFullUrl.checked) {
                                loc = loc.split("?")[0];
                            }
                            window.location = loc;
                        }
                    }).catch(logerr);
                }

            } catch (e) {
                logerr(e);
            }
            return false;
        });

        for (let pkt of pkts) {
            let html = pkt.toHTML();
            let el = range.createContextualFragment(html).firstElementChild;
            packetsEl.appendChild(el);
        }
    }

    async function run() {
        init();
        const response = await fetch(quarantinePktsUrl)
            .then(load_pkts)
            .then(display_pkts);
    }

    run().catch((e) => console.error(e, e.toString && e.toString(), e.toJSON && e.toJSON()));
</script>

</html>
